<nav class="navbar" >
  <div class="container-fluid" style="background-color:white; ">
    <a class="navbar-brand" style="color: black">
      <img src="../../../assets/images/medicina2.png" alt="Logo"
        style="height: 40px; width: 40px; object-fit: contain; margin-right: 10px;">
      <strong>Dashboard ABP</strong>
    </a>
    <form class="d-flex" role="buscar">
      <input class="form-control me-2" type="buscar" placeholder="Buscar..." aria-label="buscar">
      <button class="btn btn-outline-success" style="background-color: white; color: black;" type="submit">Buscar</button>
    </form>
  </div>

  <div class="sidebar-container">
    <app-sidebar></app-sidebar>
  </div>

  <div class="dashboard-container" >
    <app-dashboard></app-dashboard>
  </div>
</nav>