<!-- <div class="quiz-container">
    <h2>{{ questions[currentQuestionIndex].question }}</h2>
  
    <div class="options">
      <button *ngFor="let option of questions[currentQuestionIndex].options"
              (click)="selectAnswer(option)"
              [class.selected]="option === questions[currentQuestionIndex].answer">
        {{ option }}
      </button>
    </div>
  
    <div class="navigation">
      <button (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0">Anterior</button>
      <button (click)="nextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1">Siguiente</button>
    </div>
  
    <div class="submit">
      <button (click)="submitQuiz()">Enviar</button>
    </div>
  </div>
  
 -->

 <h3>HOLAAAA</h3>