<!-- <header>
    <input type="text" placeholder="Search for..." class="search-bar">
    <div class="user-info">
      <span>LOGIN</span>
      <img src="path-to-user-image.jpg" alt="User Image" class="user-avatar">
    </div>
</header> -->
  
<nav class="navbar" style="background-color: #681ff1;">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input  class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar">
      <button class="btn btn-outline-success" style="color: black;" type="submit">Buscar</button>
    </form>
  </div>  
</nav>