<aside class="sidebar">
  <div class="logo">ADMIN</div>
  <nav>
    <ul>
      <li>
        <a href="#"><img src="../../../assets/images/home.png" width="30" height="30"> Home</a>
      </li>
      <li>
        <a href="#"><img src="../../../assets/images/parametro.png" width="30" height="30"> Parametros</a>
      </li>
      <li>
        <a href="#"><img src="../../../assets/images/cuestionario.png" width="30" height="30"> Cuestionario</a>
      </li>
      <li>
        <a href="#"><img src="../../../assets/images/literaria.png" width="30" height="30"> Creaciones Literarias</a>
      </li>
    </ul>
  </nav>
</aside>

  