.sidebar {
  width: 200px;
  background-color: white;
  color: #fff;
  height: 100vh;
  border-right: 1px solid rgb(198, 151, 151); 
}
  
  .logo {
    padding: 20px;
    font-size: 24px;
    text-align: center;
    color: red;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 20px 0;
  }
  
  nav ul li a {
    color: red;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
  